{$modules.head}

	<!-- Això és un comentari HTML -->
	{* Això és un comentari en Smarty *}
	<div id="success">Felicitacions! Ja tens el Frameworklite instal·lat!</div>



	<div class="block">
		<div class="inner-block">
		<h2>Exemple Formulari</h2>
	{	if $nom_usuari}
		<p>Benvingut a Projectes Web, <strong>{$nom_usuari}</strong>!</p>
	{	else}
		<p>Hola! Com et dius? </p>
		<form action="" method="POST">
			<input type="text" name="nom">
			<input type="submit" name="submit" value="Enviar">
		</form>
	{	/if}
		</div>
	</div>


	
<div class="clear"></div>
{$modules.footer}