	</div>
	<footer>
		<a href="#top">Porta'm a l'inici</a>
	</footer>
	
	<!-- 
		Els fitxers Javascript van al footer sempre tret de 
		 que siguin molt imprescindibles pel funcionament del web
	 -->
	<script src="{$url.global}/js/scripts.js"></script>
</body>
</html>